.report-filter-left{
	float:left;
	margin-right: 10px;
}
.report-filter-left label{
	
}
.report-filter-left .inputbox{
	
}
.report-filter-left label .button{
	
}
.report-filter{
	border: 1px solid #000;
}