input.error, select.error {
	border: 2px solid red;
	background-color: #FFFFD5;
	margin: 0px;
	color: red;
}

.clear, .divider {
	clear: both;
	}

.hasTip {
text-decoration: underline;
color: blue;
}
table.bus-list {
	width: 100%;
	border-bottom: 1px solid #CCC;
}
table.bus-list tbody tr{
	border-bottom: 1px solid #CCC;
	padding: 5px;
}
table.bus-list tbody tr td{
	padding: 5px;
}

table.bus-list thead tr th{
	padding: 5px;
	color: #666;
}



span.bus_title{
	font-weight: bold;
	display: block;
}
span.bus_sum{
	display: block;
	font-style: italic;
}
span.seat{
	font-weight: bold;
	display: block;
}
span.price{
	display: block;
	font-style: italic;
}

.jbprice{
	font-weight: bold;
}



.selectedCur {
	margin-right: 0 !important;
}

img.mainimg {
	border: 3px solid #ccc;
}

h2.block_head {
	background: url("../images/arrow-title.png") no-repeat scroll 20px 22px;
	color: #383435;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 17px;
	margin:0;
	padding:0;
	padding-bottom: 15px;
	text-transform: uppercase;
}

h2.block_head span {
	border-bottom: 2px solid #F24A6F;
	display: block;
	padding-bottom: 3px;
	border-color: #0D99F6;
}
.bus-filter{
	border-radius:5px;
	background: #fff;
	margin-bottom: 10px;
	padding:10px;
}
.admin-order ul.actions li a{
	color:#fff !important;
}
.admin-order ul.actions{
	float:right;
	margin: 0;
	padding:0;
	list-style: none;
	margin-top: 10px;
}
.admin-order .btn-primary{
	color:#fff !important;
}
.invoice-footer{
	margin-top: 20px;
	border-top:1px solid #eee; 
}
.invoice-header{
	border-bottom:1px solid #eee;
}
.span6{
	float:left;
	width:50%;
}
table.adminlist{
	border-collapse:collapse;
}
.btn-primary {
    background-color: #006DCC !important;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC) !important;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}