table.filter-table {
	width: 330px;
	float: left;
	border: 0px;
	background-color: #f1f1f1;
}

div.bpblock {
	padding-top: 10px;
}

div.bpblock h2 {
	border-bottom: 1px solid #ccc;
}
.date-time{
	font-weight: bold;
}
.price-bus{
	
	display: inline-block;
}
.depart{
	font-weight: bold;
}
a.paynow {
	width: 115px;
	height: 20px;
	background: #666;
	padding: 5px;
	margin-left: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

optgroup option {
	padding-left: 10px;
}

.clr {
	clear: both;
}

.clear,.divider {
	clear: both;
}

table.filter-table #start {
	width: 100px;
}

table.filter-table #end {
	width: 100px;
}

table.flight-search thead tr td,.flight-search tbody tr td {
	border: none;
	height: 32px;
}

.flight-search {
	border: none;
	width: 350px;
}

table.flight-list {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #ccc;
}

.pathway {
	font-weight: bold;
	font-size: 14px;
	color: #0A84C1;
}

.bookpro_title {
	color: #0A84C1;
	font-weight: bold;
}

table.flight-list thead tr td {
	font-weight: bold;
	border: solid 0px #666666;
	padding: 10px;
	background-color: #ccc;
}

table.flight-list tbody tr td {
	border: solid 0px #666666;
	padding: 10px;
}

table.flight-list thead tr th {
	font-weight: bold;
	border: solid 0px #666666;
	padding: 10px;
}

table#order thead tr td {
	font-weight: bold;
	border: solid 0px #666666;
	padding: 10px;
	background-color: #ccc;
}

table#order tbody tr td {
	border: solid 0px #666666;
	padding: 10px;
}

table#passenger thead tr td {
	font-weight: bold;
	border: solid 0px #666666;
	padding: 10px;
}

table.flight-list tbody tr.row td {
	cursor: pointer;
	border: solid 0px #666666
}

table.flight-list tbody tr.even td {
	background-color: #f1f1f1
}

.items-row {
	border-bottom: 1px dotted #F0EAE4;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-left: -15px;
	margin-right: -15px;
}

img.mainimg {
	border: 3px solid #ccc;
}

.flight-search {
	background-color: #069;
	color: white;
	padding: 5px 5px;
	border-radius: 4px;
	float: left;
}

.flight-search p {
	margin: 5px 0 !important;
	float: right;
	width: 100%;
	border-top: 1px dotted;
}

.flight-search .form_title {
	margin: 15px 5px;
}

.form_title h3 {
	border-bottom: 2px groove white;
	text-transform: uppercase;
	padding-bottom: 10px !important;
}

.tbutton {
	background: url("../images/button-form.gif") repeat-x scroll left top;
	border: none;
	cursor: pointer;
	display: inline;
	font-size: 13px;
	height: 26px;
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 5px;
	overflow: visible;
	padding: 0 10px;
	color: #FCF6E8;
	border-radius: 5px;
}

div.center-button {
	padding: 10px;
	text-align: center;
}

div.right-button {
	padding: 10px;
	text-align: right;
}

.traveller_input span {
	padding-left: 4px;
}

h2.block_head {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	line-height: 17px;
	padding-bottom: 15px;
	text-transform: uppercase;
}

h2.block_head span {
	border-bottom: 2px solid #F24A6F;
	display: block;
	padding-bottom: 3px;
	border-color: #0D99F6;
}

.button_footer {
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
}

.payment_form {
	border: 1px solid #ccc;
}

dl.tabs a,dl.tabs a:hover {
	color: #205872;
	text-decoration: none;
	padding: 5px;
}

dl.tabs dt.open a {
	color: #fff;
	text-decoration: none;
}

dl.tabs {
	float: left;
	z-index: 50;
	clear: both;
	margin: 0px 0px !important;
}

dl.tabs h3 {
	padding: 2px 2px !important;
	margin: 2px 2px !important;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
}

dl.tabs dt {
	float: left;
	margin-right: 2px;
	background: #CDD3CF;
	color: #666;
}

dl.tabs dt.open {
	background: #205872;
	z-index: 100;
	color: #fff;
	width: auto !important;
}

dl dt.tab {
	width: auto !important;
}

dl.tabs dt.closed {
	z-index: 100;
	width: auto !important;
}

dt.tabs.open h3 {
	background-color: #205872 !important;
	border: none !important;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
	max-width: 99% !important;
}

div.current dd {
	padding: 0;
	margin: 0;
}

dl#content-pane.tabs {
	margin: 1px 0 0 0;
}

dl#summary {
	margin-bottom: 10px;
	width: 100%;
	padding: 5px;
}

dl#summary dt {
	float: left;
	font-weight: bold;
	padding: 5px;
	width: 50%;
}

dl#summary dd {
	margin: 2px;
	padding: 5px;
	text-align: right;
}

table.order_sum {
	border-top: 1px solid #dfdfdf;
	width: 100%;
}

table.order_sum tbody tr th {
	padding: 5px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}

table.order_sum tbody tr td {
	padding: 5px;
	border-bottom: 1px solid #dfdfdf;
	border: 1px solid #dfdfdf;
}

table.tripinfo {
	margin-top: 10px;
	border-top: 1px solid #dfdfdf;
	width: 100%;
}

table.tripinfo thead tr th {
	padding: 5px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	color: black;
}

table.tripinfo tbody tr td {
	padding: 5px;
	border-bottom: 1px solid #dfdfdf;
	border: 1px solid #dfdfdf;
}

#card_form p {
	padding: 5px;
}

span.old_price {
	text-decoration: line-through;
	padding-right: 5px;
}
@media only screen and (max-device-width: 480px) {
	span.old_price {
		text-decoration: line-through;
		padding-right: 5px;
		display: block;
	}
	span.discount_price {
	padding-right: 5px;
	font-size: 110%;
	font-weight: bold;
	color: red;
	display: block;
}
}

span.discount_price {
	text-decoration: blink;
	padding-right: 5px;
	font-size: 110%;
	font-weight: bold;
	color: red;
}

span.calendar_da {
	background-color: #F1F1F1;
	border: 1px solid silver;
	display: block;
	float: left;
	min-height: 14px;
	min-width: 80px;
	padding: 2px 5px;
	text-align: left;
}

img.calendar {
	cursor: pointer;
	left: 4px;
	margin: 0 5px 0 0;
	position: relative;
	vertical-align: bottom;
	float: left;
}

img.calendar_era {
	border: 1px solid #CCCCCC;
	cursor: pointer;
	float: left;
	left: 2px;
	margin: 0;
	padding: 0;
	position: relative;
}
.bookbar  span {
	float:left;
	margin-left: 10px;
	padding:10px;
}
.head-box {
	border-bottom: 1px dotted #ccc;
	font-weight: bold;
}
.text-highlight{
	
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 4px;
	
}
.jbprice{
	
	font-weight: bold;
	color: #ff6600;
}
